<div id='heading'>
	<div id='logo'><a href='{{site.url}}'>{{site.first_name}}</a> <a href='{{site.url}}' id='logo_docs'>
			{{site.last_name}}</a></div>
	<div id="menu">
		<ul>
			<li><a class="active" href="/">Home</a></li>
			<li><a href="/pmb.html">PMB</a></li>
			<li><a href="/aws.html">DevOps</a></li>
			<li><a href="/dev.html">Development</a></li>
		</ul>
	</div>
	<div id='links'>
		<a href='{{site.medium}}' title="Medium">
			<span class="icon-medium"></span>
		</a> |
		<a href='https://github.com/{{site.github}}' title="Github">
			<span class="icon-github"></span>
		</a> |
		<a href='https://twitter.com/{{site.twitter}}' title="Twitter" class="icon-twitter"></a> |
		<a href='{{site.linkedin}}' class="icon-linkedin" title="Linkedin"></a>
	</div>